html {
  font-family: Arial; 
  display: inline-block; 
  text-align: center;
}
p { 
  font-size: 1.2rem;
}
body {  
  margin: 0;
}
.topnav { 
  overflow: hidden; 
  background-color: darkred;//#50B8B4; 
  color: white; 
  font-size: 1rem; 
}
.content { 
  padding: 20px; 
}
.card { 
  background-color: white; 
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); 
}
.cards { 
  max-width: 800px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
.reading { 
  font-size: 1.4rem;  
}
.button {
  background-color: forestgreen; /* Green */
  //border: 10px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:  pointer;
  border-radius: 12px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
